################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JABmpBW/v15
/.vs/JABmpBW/v16
